@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
*{
    padding:0;
    margin:0;
    
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}

#wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: 200vh;
}
#header {
    width: 100%;
    padding:0px 30px;
    margin-top:33px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    
    margin:0px 25px;
    
}

#menu .item a {
    color:#626A67;
    text-decoration: none;
}


#actions {
    display: flex;
}

#actions .item {
    margin-left:22px;
}
#actions .item a{
    background-color: #fff;
    color: black;
}



.banner  {
    max-width: 100%;
    height: 500px;
    margin-top:40px;
    display: flex;
    padding-left:80px;
    position: relative;
    object-fit: cover;

}
.banner2 img{
    width: 93%;
    margin-top:40px;
    padding-left: 100px;
    margin-bottom: 50px;
}
.left-column {
    margin-top: 50px;
    width: 50%;
    height: 500px;
    
    float: left;
}
.left-column img{
    margin-left: 100px;
    max-width: 70% ;
    object-fit: cover;
}
.right-column {
    margin-top: 50px;
    width: 50%;
    height: 500px;
    float: right;
}
.right-column img{
    margin-left: 120px;
    max-width: 70% ;
    object-fit: cover;
}
.logo{
    margin-left: 40px;
}
.tieude{
    margin-top: 30px;
    text-align: center;
    
}

ul li{
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
}
.dmcon{
   display: none; 
}
.dm:hover .dmcon{
    display: block;
}
.listdm1{
    margin-top: 50px;
    
    list-style: none;
    display: inline-flex;
}

.listdm1 a{
    margin: 0 auto;
    border: black solid 1px;
    font-size: 25px;
    border-width: medium;
    border-radius: 5px;
    text-align: center;
    margin-left: 190px;
    color: #362f2f;
    text-decoration: none;

    
}


.box_search{

    margin-left: 20px;
    background-color:#ffff;
    border-radius:10px;

}
@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
    
}

.to-bottom {
    position:absolute;
    bottom:-40px;
    left:50%;
    transform:translateX(-50%);
}



#wp-products {
    padding-top:116px;
    padding-bottom: 78px;
    padding-left:134px;
    padding-right:134px;
}

#wp-products h2 {
    text-align: center;
    margin-bottom: 76px;
    font-size:32px;
    color:#626a67;
}
.sp{
    margin-left: 75px; ;
    margin-top: 50px;
    display: inline-flex ;
    
}
.item1{
    width: 300px;
    height: 420px;
    margin: 20px;
    border: #362f2f solid 1px;
    border-radius: 10px;
    
}

.item1 img {
    display: block;
    margin:0px auto;
    margin-top:17px;
    width: 80%;
}


.item1 .name {
    text-align: center;
    color:black;
    font-weight: bold;
    margin-top:21px;
}



.item1 .price {
    text-align: center;
    color: rgb(179, 93, 93) ;
    font-weight: bold;
    margin-top:20px;
    margin-bottom: 20px;
}


.list-page {
    width: 50%;
    margin:0px auto;
}

.list-page {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.list-page .item {
    margin:0px 15px;
    width: 37px;
    height: 37px;
    background:#362f2f;
    border-radius: 50%;
    display: flex;
    justify-content: center;

    align-items: center;
}
.list-page .item a {
    color:#fff;
    text-decoration: none;
}


#saleoff {
    width: 100%;
    display: flex;
    height: 322px;
}
#saleoff .box-left ,#saleoff .box-right {
    width: 50%;
}
#saleoff .box-left {
    background:#3e413e;
    text-align: center;
    min-height: 322px;
}

#saleoff .box-left h1 {
    padding-top:38px;
}
#saleoff .box-left span:nth-child(1)
{
    color:#fff;
    font-size:50px;
}

#saleoff .box-left span:nth-child(2)
{
    color:orange;
    font-size:128px;
}

#saleoff .box-right {
    background-image:url("assets/off.png");
}


#comment {
    width: 1012px;
    height: 478px;
    margin:0px auto;
    margin-top:184px;
    margin-bottom: 50px;
}

#comment h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size:32px;
    color:#626a67;
}


#comment-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
    list-style: none;
    overflow: hidden;
}

#list-comment {
    width: 100%;
    height: 100%;
    list-style: none;
    transition:0.5s;
}

#list-comment .item {
    width: 100%;
    height: 100%;
    background:#362f2f;
    border-radius: 20px;
    padding-top:50px;
}

#list-comment .item .avatar {
    text-align: center;
    margin-top:13px;
}

#list-comment .item .stars {
    display: flex;
    margin:0px auto;
    width: 50%;
    margin-top:32px;
    justify-content: center;
    align-items: center;
}

#list-comment .item .name {
    text-align: center;
    font-weight: bold;
    color:#fff;
}

#list-comment .item .text {
    padding:20px 50px;
    color:#fff;
   
}

#footer {
    width: 100%;
    background:rgba(0, 0, 0, 0.79);
    height: 322px;
    margin-top:100px;
    padding:0px 63px;
    padding-top:57px;
    display: flex;
    justify-content: space-around;
}

#footer .box {
    width: 250px;
    color:#fff;
}
#footer .box .logo img{
    width: 90%;
    margin-top: 30px;
}
#footer .box p{
    margin-left: 25px;
    margin-top: 20px;
    font-size: 15px;
    color:#fff;
}

#footer .box .quick-menu {
    margin-top:40px;

}


#footer .box .quick-menu .item{
    margin-bottom:12px;

}
#footer .box .quick-menu ,.item a{
    color:#fff;
    text-decoration: none;
}



#footer .box form input {
    width: 294px;
    height: 42px;
    background:transparent;
    padding-left:20px;
    color:#fff;
    margin-top:30px;
}

#footer .box form button {
    background:#544040;
    box-shadow: 5px 5px 4px rgba(0,0,0.25);
    width: 163px;
    height: 38px;
    margin-top:29px;
    color:#fff;
}
.box .box-e{
    color: #fff;
}
.ctsp{
    margin-top: 50px;
    width: 100%;
    height: 700px;
    border: #362f2f solid 1px;
    border-radius: 20px;
}
.ctsp img{
    margin-top: 20px;
    margin-left: 100px;
    width: 30%;
}
.giaspct{
    font-size: 10px;
    color: black;
    float: right;
    margin-right: 500px;
    margin-top: 50px;
}
.tieudesp{
    float: right;
}
.tieudesp .motaspct{
    border-radius: 10px;
    width: 450px;
    height: 200px;
    word-break: keep-all;
    border: rgb(0, 0, 0) solid 1px;
    float: right;
    margin-right: 500px;
    margin-top: 100px;
}
